body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f4f1ec;
  background-image: url("images/fondo1.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #ac1818ec;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  line-height: 1;
}

header {
  padding: 2rem;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3rem
}

header img {
  width: 100px;
}

header p {
  font-style: italic;
  color: #ffd651;
}

div {
  background: #00000088;
  padding: 2rem;
  max-width: 300px;
  margin: 0 auto;
}

main {
  padding: 2rem;
  max-width: 500px;
  margin: 0 auto;
  background: #feba5b;
}

section {
  display: flex;
}

ul.indice {
  list-style: none;
  padding: 0;
}

ul.indice li {
  margin: 1rem 0;
}

ul.indice a {
  text-decoration: none;
  color: #ffd651;
  font-size: 1.2rem;
}

ul.indice a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  padding: 1rem;
  color: #ffb82b;
  background: linear-gradient( rgba(11, 11, 11, 0), rgba(0, 0, 0, 0.992));
  margin-top: 3rem;
}
